social-media-workflow.json
{
  "meta": {
    "instanceId": "12345678-1234-1234-1234-123456789012"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-media-post",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "f1d2e3c4-a5b6-4c7d-8e9f-123456789abc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "12345678-1234-1234-1234-123456789012"
    },
    {
      "parameters": {
        "jsCode": "// Xử lý dữ liệu đầu vào\nconst data = $input.first().json;\n\n// Chuẩn bị content cho từng platform\nconst platforms = [\n  {\n    platform: 'facebook',\n    content: {\n      message: data.content,\n      image: data.image_url,\n      link: data.link\n    }\n  },\n  {\n    platform: 'twitter', \n    content: {\n      text: data.content.substring(0, 280),\n      media: data.image_url\n    }\n  },\n  {\n    platform: 'instagram',\n    content: {\n      caption: data.content + '\\n\\n' + (data.hashtags || ''),\n      image_url: data.image_url\n    }\n  },\n  {\n    platform: 'linkedin',\n    content: {\n      text: data.content,\n      title: data.title,\n      url: data.link\n    }\n  },\n  {\n    platform: 'telegram',\n    content: {\n      text: data.content,\n      photo: data.image_url\n    }\n  },\n  {\n    platform: 'discord',\n    content: {\n      content: data.content,\n      embeds: data.image_url ? [{ image: { url: data.image_url } }] : []\n    }\n  },\n  {\n    platform: 'pinterest',\n    content: {\n      note: data.content,\n      image_url: data.image_url,\n      link: data.link\n    }\n  },\n  {\n    platform: 'reddit',\n    content: {\n      title: data.title || 'New Post',\n      text: data.content,\n      subreddit: data.subreddit || 'test'\n    }\n  },\n  {\n    platform: 'medium',\n    content: {\n      title: data.title || 'New Article',\n      content: data.content,\n      publishStatus: 'draft'\n    }\n  },\n  {\n    platform: 'mastodon',\n    content: {\n      status: data.content,\n      media: data.image_url\n    }\n  }\n];\n\n// Thêm original data vào mỗi platform\nreturn platforms.map(p => ({\n  json: {\n    ...p.content,\n    platform: p.platform,\n    original_data: data\n  }\n}));"
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-123456789def",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "12345678-1234-1234-1234-123456789012",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "facebook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fb-filter",
      "name": "Facebook Filter", 
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/me/feed",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.message }}\",\n  \"link\": \"{{ $json.link }}\",\n  \"picture\": \"{{ $json.image }}\"\n}",
        "options": {}
      },
      "id": "facebook-post",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "twitter-condition",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "twitter",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "twitter-filter",
      "name": "Twitter Filter",
      "type": "n8n-nodes-base.if", 
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "id": "twitter-post",
      "name": "Twitter Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "telegram-condition",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "telegram-filter",
      "name": "Telegram Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.original_data.telegram_chat_id || '@your_channel' }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-post",
      "name": "Telegram Post",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        920,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "discord-condition",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "discord",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "discord-filter",
      "name": "Discord Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.original_data.discord_webhook_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.content }}\",\n  \"embeds\": {{ JSON.stringify($json.embeds) }}\n}",
        "options": {}
      },
      "id": "discord-post",
      "name": "Discord Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "linkedin-condition",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "linkedin",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "linkedin-filter",
      "name": "LinkedIn Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:person:{{ $json.original_data.linkedin_person_id }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $json.text }}\"\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}",
        "options": {}
      },
      "id": "linkedin-post",
      "name": "LinkedIn Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect results from all platforms\nconst results = $input.all();\nconst summary = {\n  timestamp: new Date().toISOString(),\n  total_attempted: results.length,\n  successful: 0,\n  failed: 0,\n  results: []\n};\n\nresults.forEach(item => {\n  const platform = item.json.platform || 'unknown';\n  \n  if (item.json.error || !item.json.id) {\n    summary.failed++;\n    summary.results.push({\n      platform: platform,\n      status: 'failed',\n      error: item.json.error || 'No post ID returned'\n    });\n  } else {\n    summary.successful++;\n    summary.results.push({\n      platform: platform,\n      status: 'success',\n      post_id: item.json.id\n    });\n  }\n});\n\nreturn [{ json: summary }];"
      },
      "id": "results-summary",
      "name": "Results Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Facebook Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Filter": {
      "main": [
        [
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Post": {
      "main": [
        [
          {
            "node": "Results Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Filter": {
      "main": [
        [
          {
            "node": "Twitter Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Post": {
      "main": [
        [
          {
            "node": "Results Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Filter": {
      "main": [
        [
          {
            "node": "Telegram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Post": {
      "main": [
        [
          {
            "node": "Results Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Filter": {
      "main": [
        [
          {
            "node": "Discord Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Post": {
      "main": [
        [
          {
            "node": "Results Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Filter": {
      "main": [
        [
          {
            "node": "LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post": {
      "main": [
        [
          {
            "node": "Results Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-20T10:00:00.000Z",
  "versionId": "12345678-1234-1234-1234-123456789012"
}
